body {
  background-color: #f8f9fa;
  color: #212529;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  color: #212529;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #f0f0f0;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.book-container > * {
  flex: 1 1 300px;
  max-width: 300px;
  margin: 10px;
}

.header-footer {
  background-color: #73bcd9;
  padding: 15px;
  text-align: center;
  border-top: 3px solid #ddd;
}

.header-footer-text {
  color: #ffffff;
  font-size: 1.2em;
}

.center-text {
  text-align: center;
}

.landing {
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffffff, #e9ecef);
  a {
    text-decoration: none;
  }
}

.landing h1 {
  position: relative;
  text-align: center;
  color: #212529;
  font-size: 3em;
}

.book-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #212529;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.book-name {
  font-size: 2em;
  font-weight: bold;
  color: #73bcd9;
  margin-bottom: 10px;
}

.linear-progres {
  color: #03588c;
}

.search-bar {
  margin: 20px;
  text-align: center;
  input {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
}
